@model CreateGroupModelView


@{
    Layout = "_Layout";
}

    <form onsubmit="notifyAboutCreatingGroup(event)" style="text-align:center">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
            </div>
            <input required asp-for="Name" type="text" class="form-control" aria-label="Name of group" aria-describedby="inputGroup-sizing-default">
        </div>
        <p>
            <div class="form-group">
                <h3>Select chat participants (press Shift/Ctrl for multiple choise)</h3>
                @Html.ListBoxFor(m => m.ChatParticipantsId, (MultiSelectList)ViewBag.Users, new { @class = "form-control" })
            </div>

        </p>
        <button type="submit" class="btn btn-light center-block">Create group</button>
    </form>

<script src="~/js/signalr.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>



<script>
    var notifyAboutCreatingGroup = function (event) {
        event.preventDefault();

        var data = new FormData(event.target);
        data.append('connectionId', _connectionId);


        axios.post('/Home/CreateGroupAsync', data)
            .then(res => {
                console.log("Notification delivered", res);
            })
            .then(function () { window.location = "/Home/Index" })
            .catch(err => {
                console.log("Failed to send notification", err);
            })

    }

</script>
