@model CreateGroupModelView

@{ 
    Layout = "_Layout";
}
    

    <form onsubmit="notifyAboutCreatingGroup(event)" asp-controller="Home" asp-action="CreateGroupAsync">
        Name:  <input asp-for="Name" /> <br />
        <p>
            <div class="form-group">
                <h3>Select chat participants (press Shift for multiple choise)</h3>
                <select asp-for="ChatParticipantsId" asp-items="ViewBag.Users"></select>
            </div>
        </p>
        <input type="submit" />
    </form>

    <script src="~/js/signalr.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        var notifyAboutCreatingGroup = function (event) {
            //if(event)
            event.preventDefault();

            //debugger;
            var data = new FormData(event.target);
            data.append('connectionId', _connectionId);

            //document.getElementById('message-input').value = '';

            axios.post('Home/CreateGroupAsync', data)
                .then(res => {
                    console.log("Notification delivered", res);
                    //debugger;
                })
                .catch(err => {
                    console.log("Failed to send notification", err);
                })

        }

    </script>

