@model SignalROnlineChatServer.Models.ModelViews.UserChatsViewModel

@{ 
    var userId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value;
}

<div class="chat-body">
    @foreach (var chat in Model.Chats)
    {
    <div class="chat">
        <a class="group-button" asp-controller="Home" asp-action="GetChat" asp-route-id="@chat.Id">
            @*@chat.ChatParticipants.FirstOrDefault(x => x.UserId != userId).User.UserName;*@
        </a>
    </div>
    }
</div>