@model IEnumerable<ChatViewModel>

    <div class="chat-body">
        <div class="side-menu">
            @foreach (var chat in Model)
            {
        <a class="group-button" asp-controller="Home" asp-action="GetChat" asp-route-id="@chat.Id">
            @chat.Name
        </a>}
        <a class="group-button" asp-controller="Home" asp-action="DisplayCreateGroupForm">
            Create new group
        </a>
        <a class="group-button" asp-controller="Home" asp-action="FindUsers">
            Find users
        </a>
        </div>
    </div>