/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    background: linear-gradient(45deg, #ff7efc, #9dc6ff);
    margin-bottom: 60px;
    margin-top: 10px;
/*    background: #d4ffd7*/
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  background: #fff
}
.field-validation-error {
    color: red;
    font-size: smaller;
}

.validation {
    color: red;
    font-size: smaller;
}

.needs-validation {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
    border: 1px solid;
    border-radius: 10px 20px;
    border-color: #100900
}

.inbox_chat {
    height: 600px;
    overflow-y: scroll;
}

.chat_list_item {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
}

.chat_detail {
    overflow: hidden;
    clear: both;
}

.chat_img {
    float: left;
    width: 11%;
}

.chat_detail_info {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_detail_info h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
}

.chat_detail_info h5 span {
    font-size: 13px;
    float: right;
}

.chat_detail_info p {
    font-size: 14px;
    color: #989898;
    margin: auto;
}


.inbox_msg {
/*    border: 1px solid #c4c4c4;*/
    clear: both;
    overflow: hidden;
}

.inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%;
    border-right: 1px solid #c4c4c4;
    height: 600px;
}

.chat_view {
    float: left;
    padding: 30px 15px 0 25px;
    width: 60%;
}

.message_story {
    height: 516px;
    overflow-y: auto;
    position:relative;
}

/*.incoming_message_info{

}*/

.outgoing_message_info {
    overflow: hidden;
    margin: 26px 0 26px;
}

.incoming_user_img {
    display: inline-block;
    width: 6%;
}

.incoming_message {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.incoming_message_text {
    width: 57%;
}

.outgoing_message_text {
    float: right;
    width: 46%;
}

.message_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.incoming_message_text p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing_message_text p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.messaging {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.input_message_area {
    border-top: 1px solid #c4c4c4;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.message_input {
    background: transparent;
    border: 0;
}

.message_input:focus {
    background: transparent;
    outline: none;
}

.chat_input input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
    outline: none;
    /*position: fixed;
    left: 432px;*/
}

.chat_input {
    display: flex;
    align-items: center;
}


.submit {
    /*position: absolute;
    right: 0;
    top: 5px;*/
    height: 60px;
    display: block;
    position: unset;
}

.logout-button {
    position: absolute;
    right: 8px;
    top: 5px;
}

.menu {
    background: #f8f8f8;
    border-color: #c78df3;
    border-bottom-style: double;
}


.chat_app_name {
    display: inline;
    position: absolute;
    vertical-align: top;
    border-radius: 3px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    left: 60px;
    bottom: 15px;
    font-size: large;
    font-weight: 500;
    color: #a53fa1;
}

.dropdown button {
    display: inline-block;
/*    width: 6%;*/
}

.btn-secondary {
    color: #fff;
    background-color: #b34fcc59;
    border-color: #7c289e85;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #8ab4de5c;
    border-color: #5487b3;
}

.my {
    color: #212529;
    background-color: transparent;
    font-size: 20px;
}

li{
    list-style-type: none;
}

.users {
    font-size: 50px;
}

svg {
    vertical-align: inherit;
}

.default_message_info {
    overflow: hidden;
    margin: 26px 0 26px;
    text-align: center;
}

.default_message_text p {
    /* background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;*/
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    /*color: #fff;*/
    padding: 5px 10px 5px 12px;
    font-weight: 600;
}

.d_message_date {
    color: #747474;
    display: block;
    font-size: 12px;
}

.crt_p_chat {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background: transparent;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border: none;
}

.create_pr_chat_form{

}
