
@model SignalROnlineChatServer.Models.ModelViews.RegisterViewModel

<form asp-controller="Account" asp-action="RegisterAsync">
    @*asp-route="register"*@
    Login:  <input asp-for="Login" /> <br />
    Password: <input asp-for="Password" /><br />
    PasswordConfirm: <input asp-for="PasswordConfirm" />

    <button type="submit">Register</button>
</form>


