@*<div>
        <form asp-controller="Account" asp-action="RegisterAsync" method="post">
            <input type="text" name="login" placeholder="Username" />
            <input type="password" name="password" placeholder="Password" />
            <button type="submit">Register</button>
        </form>
    </div>*@
@*<div>
        <a asp-controller="Account" asp-action="RegisterAsync" asp-route-login="login" asp-route-password="password">Register</a>
    </div>*@



@*@using (Html.BeginForm("RegisterAsync", "Account", FormMethod.Post))
    {
        Login: <input asp-for="Login" />
        Password: <input asp-for="Password"/>
        <button type="submit">Register</button>
    }*@


@model SignalROnlineChatServer.Models.ModelViews.RegisterViewModel

<form asp-controller="Account" asp-action="RegisterAsync">
    @*asp-route="register"*@
    Login:  <input asp-for="Login" /> <br />
    Password: <input asp-for="Password" /><br />
    PasswordConfirm: <input asp-for="PasswordConfirm" />

    <button type="submit">Register</button>
</form>


